
*{
    margin: 0;
    padding: 0;
}
body{
    height: 1054px;
}
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 590px;
}
#home p{
    font-size: 2rem;
    color: azure;
    font-weight: bold;
    text-align: center;
    
}

/* #home::before{
    content: " ";
    position: absolute;
    background: url('{% static "png/bg.jpg" %}');
    width: 100%;
    height: 73%;
    top: 0px;
    left: 0px;
    z-index: -1;
    
} */

/* sections */


.services{
    display: flex;
    
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 34px;
    margin-top: -22px;
}
.services .box{
    border: 2px solid red;
    padding: 34px;
    margin: 18px 7px;
    border-radius: 10px;
    background: url('png/bg2.jpg') no-repeat center center/cover;
    opacity: 0.8;
    
}
#service-container h1{
    text-align: center;
    font-size: 2rem;
    font-family: 'Baloo Bhaina 2', cursive;
}
.btn{
    padding: 2px;
    
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: azure;
    font-family: 'Baloo Bhaina 2', cursive;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}

@media(max-width:789px){
    .services{
        flex-direction: column;
    }
}

#announcement{
    display: flex;
    flex-direction: column;
}

.announce-container{
    
    border: 2PX SOLID red;
    padding: 5px 39px;
    margin: 1px 13px;
    border-radius: 10px;
    
}
.announce-container ul{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Bhaina 2', cursive;
    
    
}
.announce-container ul .announce{
    list-style: none;
}

.slider{
    width: 100%;
    height: 570px;
    background: url('') no-repeat center center/cover ;
    margin: 15px auto;
    animation: slide 10s infinite;
    border: 2px solid red;
    border-radius: 10px;
}
@keyframes slide{
    25%{
        background: url('png/background.jpg') no-repeat center center/cover;
    }
    50%{
        background: url('png/bg.jpg') no-repeat center center/cover;
    }
    75%{
        background: url('png/pizza.png') no-repeat center center/cover;
    }
    100%{
        background: url('png/bg2.jpg') no-repeat center center/cover;
    }
}



/* utility clas */

.center{
    
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
}